body {
  background: #1b1b1f;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
.login-form-1 {
  border-radius: 5px;
  box-shadow: 9px 10px 90px 6px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 9px 10px 90px 6px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 9px 10px 90px 6px rgba(0, 0, 0, 0.37);
  padding: 5%;
  background: #f0f5f8;
}

.login-form-1 h3 {
  text-align: center;
}
.login-form-2 {
  border-radius: 5px;
  background: #f0f5f8;
  padding: 5%;
  box-shadow: 9px 10px 90px 6px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 9px 10px 90px 6px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 9px 10px 90px 6px rgba(0, 0, 0, 0.37);
  border-left: none;
}

.login-container form {
  padding: 10%;
}
.btnSubmit {
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.login-form-1 .btnSubmit {
  color: #000;
  background: rgb(47, 204, 97);
  border-radius: 5px;
  transition: all 0.2s ease;
}

.login-form-1 .btnSubmit:hover,
.login-form-2 .btnSubmit:hover {
  border-radius: 0;
  opacity: 0.8;
}

.btnSubmit:focus {
  outline: none;
  opacity: 0.8;
}

.login-form-2 .btnSubmit {
  color: #000;
  background: rgb(47, 204, 97);
  border-radius: 5px;

  transition: all 0.2s ease;
}

.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
